*{
    padding: 0;
    margin: 0;
    color:#e3e3e3;   
}
body{
    width: 100%;
    background-color: #1c1c1c;
}
.borde{
    border:5px solid #ff971a;
}
.paddin-top{
    padding-top: 2rem;
}

.container{
    width:100%;
    max-width: 1350px;
    height: 100vh;
    position: relative;
    margin: 0 auto; 
}
.amarillo{
    color:#ff971a;   
}
.hueco{
    grid-area: hueco;
    border:0;
    width: 100%;
    min-height: 10px;
}
.liston{
    width: 200px;
    height: 0px;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 2rem solid #ff971a;
    border-top: 2rem solid #ff971a ;
    position: absolute;
    top: -2px;  
    left: 50%;
    transform: translate(-50%, -50%);
}
.liston-text{
    font-size: 2.5rem;
    left: 50%;
    padding: 0 2rem 0 2rem;
    transform: translate(-50%, -50%);
    position: absolute;
    top: -2px;  
    color: #1c1c1c;
}
.cabeza{
    position:relative;
    margin: 3rem 0 1rem 0;
    padding: 4rem 0 1rem 0;
    max-width: 372px;
    display: flex;
    flex-flow: column;
    grid-area: cabeza;
    
}
.cabeza *{
    text-align: center;

}

.menu1{
    position:relative;
    margin: 0;
    max-width: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    grid-area: menu1;
    padding:0.5rem;
    
}
.m1{
    height: fit-content;
    background-color: #1c1c1c;
}

.menu1 .row{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1.5rem;
    justify-content: space-between;  
}
.menu1 .column{
    display: flex;
    flex-direction: column;  
}
.menu2{
    max-width: 100%;
    grid-area: menu2;
}
.menu2 .liston{
    left: -2.5rem;
    width: 300px;
    transform: translate(0%, -50%);
}
.menu2 .liston-text {
    left:1rem;
    transform: translate(0%, -50%);
}
.menu3{
    grid-area: menu3;
}
.menu3 .liston{
    left: 110%;
    width: 300px;
    transform: translate(-100%, -50%);
}
.menu3 .liston-text {
    left: 90%;
    transform: translate(-100%, -50%);
}
h4{
    font-size: 1.7rem;
}
h3{
    font-size: 2.5rem;
}
p{
    font-size: 1.2rem;
}
.price{
    padding-top: 0.7rem;
}
.borde-puntos{
    border: 6px dotted #ff971a;
    border-style:dotted;
    padding-top: 2rem;
}
.invisible{
    border: 6px dotted #ff981a00;
    border-style:dotted;
    padding-top: 2rem;
}
.linea{
    background-color: #ff971a;
    max-width: 80%;
    height: 3px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.extra{
    display: flex;
    flex-direction: row;  
    padding: 0;
    margin: 4px 2px 4px 2px;
    justify-content: space-between;   
    width: 43%;
}
.extra p{
    font-size: 1rem;
}
.extra .price{
    font-size: 1.2rem;
    padding-top: 0;
}
.extras{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 0 1.5rem 1rem 1.5rem ;
}
.menu2 .extra{
    width: 30%;
}
.row .linea{
width: 40%;
margin-top: 1.5rem;
}
.circulo{
    border-radius: 50%;
}
.img{
    height: 450px;
    width: 450px;
    position: absolute;
    border-width: 3px;
    overflow: hidden;
}
.img .circulo{
    width: 95%;
    height: 95%;
    background-color: #ff971a;
    position: relative;
}
.img .circulo .img{
    width: 95%;
    height: 95%;
    position: relative;
}
/*
.img .circulo:nth-of-type(2){
    right: 0;
    top: 0;
}
.img .circulo:nth-of-type(3){
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
}*/
.img-padre1, .img-padre2, .img-padre3{
    transform: translate(-50%, 0);
    left: 50%;
}
.img-padre1{
    grid-area: img1;    
}
.img-padre2{
    grid-area: img2;   
}
.img-padre3{
    grid-area: img3;
}
.img-padre1, .img-padre2, .img-padre3{
    transform: translate(-50%, 0);
    left: 50%;
}

.container{
    display: grid;
    gap: 10px;
    grid-template:
    "cabeza" auto 
    "img1"    500px  
    "menu2" auto
    "img2" 500px
    "menu1" auto
    "huego" 3rem
    "menu3" auto
    "img3" 500px
    ;
}


.container > *{
    margin: 0 auto;
}
.menu2{
    width: 80%;
    max-width: 500px;

}
@media (max-width:1160px){
    .img-padre1, .img-padre2, .img-padre3{   
        transform:translate(-50%, 0);
        left: 50%;
    }
    .img-padre2{
        transform: translate(-50%, 0) rotate(90deg);
    }
    .img-padre2 .circulo .img{
        transform: rotate(-90deg);
    }
    .container > *{
        margin: 0 auto;
    }
    .menu2{
        width: 80%;
        max-width: 500px;
    }


    
}
@media (min-width: 1160px){
    .container{
        grid-template:
        "menu2 cabeza menu3"  auto
        "menu2  menu1 menu3"  auto
        "menu2  menu1  menu3"  auto/
         35%    30%    35%;
         overflow: hidden;
    }
    img{  
        height: 40%;
        width: 34%;     
    }
    .menu1{
        margin-bottom: 10%;
    }
    .menu2{
        padding-top: 350px;
        padding-left:1rem ;
    }
    .menu2 .liston, .menu2 .liston-text{ 
        top:340px;
    }
     
    .img-padre1{
        top: -15%;
        left: -4%;
        width: 455px;
        height: 455px;
        transform: translate(0,0);  
    }
    .img-padre2{
        width: 350px;
        height: 350px;
        top: -150px;
        right: -30px;
        transform: translate(0,0);
        transform: rotate(90deg);    
    }
    .img-padre2 .circulo .img{
        transform: rotate(-90deg);
    }
    .img-padre3{
        width: 620px;    height: 620px;
        bottom: -350px;
        right: -7%;
        transform: translate(0,0);
        transform: rotate(180deg);   
    }
    .img-padre3 .circulo .img{
        transform: rotate(-180deg); 
    }
    .menu3{
        padding-top: 5%;
    }
    .menu3 .liston-text, .menu3 .liston {
        top: 30%;
    }
    .menu3 .invisible{
        padding-right: 2rem;
    }
    h4{
        font-size: 1.3rem;
    }
    h3{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
    .price{
        padding-top: 0.7rem;
    }
    .menu2 .row{
        padding: 0.3rem 1.5rem;
          
    }
}

/*siuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu*/
/*https://plantillasdememes.com/img/plantillas/no-es-mucho-pero-es-trabajo-honesto01569991155.jpg*/